@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/secao.css");
@import url("styles/vagas.css");
@import url("styles/depoimento.css");
@import url("styles/rodape.css");

:root {
    --branco: #FFFFFF;
    --fonte-branca: #FFFFFF;
    --cinza-claro: #F9FAFB;
    --bordo: #8E2424;
    --cinza-escura: #3A404E;
    --cinza-preta: #101828;
    --cinza-principal: #667085;
    --cinza-clara: #EAECF0;
    --cinza-borda: #D0D5DD;
    --cinza-copyright: #98A2B3;
    --bordo-claro: #C3191908;
    --fonte-principal: "Inter", sans-serif;
    --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/lua.png");
}

body {
    background: var(--branco);
    width: 100%;
    height: 100vh;
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    transition: 2s;
}