@import url("styles/header.css");


:root {
    --branco: #FFFFFF;
    --cinza-claro: #F9FAFB;
    --bordo: #8E2424;
    --cinza-escura: #3A404E;
    --cinza-principal: #667085;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}