@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/secao.css");
@import url("styles/vagas.css");

:root {
    --branco: #FFFFFF;
    --cinza-claro: #F9FAFB;
    --bordo: #8E2424;
    --cinza-escura: #3A404E;
    --cinza-preta: #101828;
    --cinza-principal: #667085;
    --cinza-clara: #EAECF0;
    --fonte-principal: "Inter", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}