.cabecalho {
    display: flex;
    padding: 1rem 0;
    justify-content: space-around;
    align-items: center;
}
 

.logo {
    display: flex;
    align-items: center;
}

.logo__imagem {
    padding: 8px;
}

.logo__titulo {
    color: var(--cinza-escura);
    font-size: 18px;
    font-weight: 500;
}

.lista-cabecalho {
    display: flex;
    margin-right: 15%;
}

.opcoes__cabecalho {
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.opcoes__link {
    text-decoration: none;
    color: var(--cinza-principal);
}

.container__botoes {
    display: flex;
    align-items: center;
    gap: 12px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    padding: 10px 18px;
    font-size: 16px;
}

.botao__entrar {
    background-color: var(--branco);
    color: var(--cinza-principal);

}

.botao__cadastrar {
    background-color: var(--bordo);
    color: var(--branco);
}