.cabecalho {
    display: flex;
    width: 1720px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 1600px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__imagem {
    padding: 8px;
}

.logo__titulo {
    color: var(--cinza-escura);
    font-size: 18px;
    font-weight: 500;
}

.lista-cabecalho {
    display: flex;
}

.opcoes__cabecalho {
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.opcoes__link {
    text-decoration: none;
    color: var(--cinza-principal);
}

.container__botoes {
    display: flex;
    align-items: center;
    gap: 12px;
}

.botao__entrar {
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 500;
    background-color: var(--branco);
    border: 1px solid var(--branco);
    color: var(--cinza-principal);

}

.botao__cadastrar {
    border-radius: 8px;
    background-color: var(--bordo);
    border: 1px solid var(--bordo);
    font-size: 16px;
    font-weight: 500;
    color: var(--branco);
    padding: 10px 18px;
}