.vagas {
    display: flex;
    flex-direction: column;
    padding: 6em 6em 6em 6em;
}

.vagas__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.vagas__container-preTitulo {
    color: var(--bordo);
    font-size: 14px;
    font-weight: 500;
}

.vagas__container-titulo {
    color: var(--cinza-preta);
    font-size: 2em;
    font-weight: 600;
}

.vagas__container-frase {
    display: flex;
    justify-content: center;
    color: var(--cinza-principal);
    font-size: 1.25em;
    font-weight: 400;
    margin-top: 4px;
    width: 60%;
    
}

.imagem {
    display: flex;
    padding: 4em 0em 4em 0em;
    justify-content: center;
}

.vagas__abertas {
    display: flex;
    flex-direction: column;
    gap: 4em;
    min-width: 100%;
    width: 50em; 
}

.vagas__abertas-container {
    display: flex;
    flex-direction: column;
    gap: 24px;    
    min-width: 70%;
    width: 50em;
}

.vaga__titulo {
    margin-bottom: 0.5em;
    color: var(--cinza-preta);
    font-weight: 500;
    font-size: 20px;    
}

.vaga__job {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border: 1px solid var(--cinza-clara);
    border-radius: 1em;
}

.vaga__job-titulo {
    color: var(--cinza-preta);
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 2em;
}

.vaga__job-informacoes span{
    padding-right: 1.5em;
    color: var(--cinza-principal);
    font-weight: 500;
    font-size: 16px;
}